.navbar {
  width: 100vw;
  height: 65px;
  background-color: rgb(222, 253, 234) ;
  border-bottom: 1px solid rgb(9, 128, 54);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__left img {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar__left span {
  font-size: 20px;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 30px;
  width: auto;
}
